.menu {
	height: 150px;
}

#primeira-parte-menu {
	background-color: green;

}


#segunda-parte-menu {
	background-color: grey;



}

#conteúdo-principal {
	height: 300px;
	background-color: red;

	
}

.conteúdo-quadrado {
	height: 250px;
	color: white;
}

#q1 {
	background-color: purple;	
}
#q2{
	background-color: blue;
}
#q3{
	background-color: #214252;
}

.rodapé {
	height: 150px;
	background-color: black;
	color: white;

}