body{
	background: #1B1A28;
}

.icone{
	height: 110px;
	width: 120px;
	position: relative;

}

.nav-link{
	color:#BE1427;
	font-family: Verdana,sans-serif;
	font-weight: bold;
}

#n1:hover {
	background: black;
	color: white;
}

#n2:hover {
	background: black;
	color: white;
}

#n3:hover {
	background: black;
	color: white;
}

.bi-person-fill{
	color: #BE1427;
	margin-left: 23px;
	position: relative;

}

.form-control{
	margin-left: 5px;
}

.btn-outline-success{
	color: black;
	background: #86858B;
}

.btn-outline-success:hover {
	background: orange;
}


.bi-search{
	color:#1B1A28;

}

.bi-search:hover {
	color: white;
}


.dropdown-menu{
	display: none;
	background: #2E3140;
	width: 230px;
	height: 270px;
	border: 1px solid black;
	margin-left: 160px;

}

.form-control-1{
	background: #86858B;
	margin-top: -15px;
}

.form-group{
	color: #86858B;
	font-family: Verdana,sans-serif;
	font-size: 15px;
	margin-left: -20px;
	margin-top: -15px;
}

.btn-primary{
	background: #BE1427;
	color: #2E3140;
	font-family: Verdana,sans-serif;
	font-size: 15px;
	margin-left: -20px;
	margin-top: -15px;
}

.dropdown-divider{
	margin-top: -7px;

}

.dropdown-item{
	color: #86858B;
	font-family: Verdana,sans-serif;
	font-size: 13px;
	margin-left: -20px;
	
}

.image-right{
	height: 200px;
	position: relative;
	opacity: 0.36;


}

.imagem-noticia{
	height: 400px;
	position: relative;


}

.titulo-noticia{
	color: white;
	font-family: Verdana,sans-serif;
	text-align: left;
	font-weight: bold;


}

.text-content{
	color: white;
	text-align: left;
	font-family: Verdana,sans-serif;


}

.text-footer{
	color: #86858B;
	font-family: Verdana,sans-serif;
	text-align: left;
	font-weight: bold;
	margin-left: -55px;
}

.title-footer{
	color: #BE1427;
	font-family: Verdana,sans-serif;
	text-align: left;
	font-weight: bold;
	margin-left: -45px;
}

#redes-sociais{
	color: #86858B;
	font-family: Verdana,sans-serif;
	font-size: 17px;
	text-align: center;
	font-weight: bold;
	margin-left: 10px;
}
