/*
Tudo que está entre /* é comentário, ou seja, o "computador" não leva a sério e nem vai considerar errado

seletor {
	Propriedade: valor;
}

*/

body {
color: #0e4375;
background-color: #ffffff; 
font-family: Helvetica,Arial, sans-serif;
margin-left: 40px;
margin-right: 40px;
}

h2 {
text-decoration: underline;
font-family: serif;
background-color: #1aa6b7;
color: #f6f6f6;
}

p {
border: 1px solid #FF0000;
}

#p-importante {
background-color: #FF0000
color: #FFFFFF; 
}

.legal {
	color: green;
}
.chato {
	color: purple;
}
