body{
	background: #1B1A28;
}

.icone{
	height: 90px;
	width: 100%;
	position: relative;

}

.nav-link{
	color:#BE1427;
	font-family: sans-serif;
}

.image-left{
	height: 200px;
	position: relative;


}

.imagem-noticia{
	height: 400px;
	position: relative;


}

.titulo-noticia{
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;


}

.text-content{
	color: white;
	text-align: left;
	font-family: sans-serif;

}

.titulo-footer{
	color: red;
	font-family:sans-serif; 
	text-align: left;
	font-weight: bold;

}

.text-footer{
	color: #86858B;
	font-family:sans-serif; 
	text-align: left;
	font-weight: bold;

}

#titulo-redes-sociais{
	color: #86858B;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
}

