body{
	background: #1B1A28;
}

.icone{
	height: 110px;
	width: 120px;
	position: relative;

}

.nav-link{
	color:#BE1427;
	font-family: sans-serif;
	font-weight: bold;
}

.bi-person-fill{
	color: #BE1427;
	margin-left: 25px;

	}

.form-control{
	margin-left: 5px;
}

.btn-outline-success{ hover
	color: black;
	background: #86858B;
}

.bi-search{
	color: black;


}

.dropdown-menu{
	display: none;
	background: #2E3140;
	width: 230px;
	height: 260px;
	border: 1px solid black;
	margin-left: 160px;

}

.form-control-1{
	background: #86858B;
}

.form-group{
	color: #86858B;
	font-family: sans-serif;
	margin-left: 5px;
}

.btn-primary{
	background: #BE1427;
	color: #2E3140;
	font-family: sans-serif;
	margin-left: 5px;
}

.dropdown-item{
	color: #86858B;
	font-family: sans-serif;
	margin-left: -20px;
	font-size: 14px;
}

.image-right{
	height: 200px;
	position: relative;
	opacity: 0.36;


}

.imagem-noticia{
	height: 400px;
	position: relative;


}

.titulo-noticia{
	color: white;
	font-family: sans-serif;
	text-align: left;
	font-weight: bold;


}

.text-content{
	color: white;
	text-align: left;
	font-family: sans-serif;

}

.text-footer{
	color: #86858B;
	font-family: sans-serif;
	text-align: left;
}

.title-footer{
	color: #BE1427;
	font-family: sans-serif;
	text-align: left;
}

#redes-sociais{
	color: #86858B;
	font-family: sans-serif;
	text-align: center;
}