div{
	border-radius: 4px;
	background-color: #FBFBFB;
	padding: 25px;
}


input[type=text]{
	width: 30%;
	transition: width 0.5s ease-in-out;
	padding: 6px;
	margin: 8px 0px;

	border-radius: 5px;

}

input[type=text]:focus{
	width: 100%
	padding: 50px;

}

input[type=email]{
	width: 100%;
	padding: 6px;
	margin: 8px 0px;

	border-radius: 5px;

}

input[type=text]:hover{
	border-color: red;
}

input[type=password]{
	width: 100%;
	padding: 6px;
	margin: 8px 0px;
	border-radius: 5px;

}

input[type=radio]{
	padding: 6px;
	margin: 8px 0px;


}


select, option{
	width: 50%;
	margin: 5px;
	padding: 5px;



}

input[type=submit]{
	width: 30%;
	background-color: #96F7EB;
	padding: 14px 20px;
	margin: 10px 0px;
	border: none;
	border-radius: 10px;
	cursor: pointer;

}

input[type=submit]:hover{

	background-color: #F496F7;


}

