body{
	background: #1B1A28;
}

.icone{
	height: 110px;
	width: 120px;
	position: relative;

}

.nav-link{
	color:#BE1427;
	font-family: sans-serif;
	font-weight: bold;
}

.bi-person-fill{
	color: #BE1427;
	margin-left: 25px;

	}

.form-control{
	margin-left: 5px;
}

.btn-outline-success{ hover
	color: black;
	background: #86858B;
}

.bi-search{
	color: black;


}

.dropdown-menu{
	display: none;
	background: #2E3140;
	width: 230px;
	height: 285px;
	border: 1px solid black;
	margin-left: 160px;

}

.form-control-1{
	background: #86858B;
	margin-top: -15px;
}

.form-group{
	color: #86858B;
	font-family: sans-serif;
	margin-left: -20px;
	margin-top: -15px;
}

.btn-primary{
	background: #BE1427;
	color: #2E3140;
	font-family: sans-serif;
	margin-left: -20px;
	margin-top: -15px;
}

.dropdown-divider{
	margin-top: -7px;

}

.dropdown-item{
	color: #86858B;
	font-family: sans-serif;
	margin-left: -20px;
	font-size: 14px;
	
}

.image-right{
	height: 200px;
	position: relative;
	opacity: 0.36;


}

.col-12-forums{
	background-color: #2E3140;
	height: 350px;
	width: 350px;

}

.imagem-forum{
	height: 120px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#anitube-logo{
	height: 110px;
	position: relative;
}

.text-content{
	font-family: sans-serif;
	text-align: center;
	color: white;

}

#p1{
	font-family: sans-serif;
	color: white;
	text-align: left;
	margin-left: 10px;

}

#p2{
	font-family: sans-serif;
	color: white;
	text-align: left;
	margin-left: 10px;

}

#p3{
	font-family: sans-serif;
	color: white;
	text-align: left;
	margin-left: 10px;

}



.titulo-forum{
	text-align: center;
	font-family: sans-serif;
	color: white;
	font-weight: bold;
}

.text-footer{
	color: #86858B;
	font-family: sans-serif;
	text-align: left;
	font-weight: bold;
	margin-left: -55px;
}

.title-footer{
	color: #BE1427;
	font-family: sans-serif;
	text-align: left;
	font-weight: bold;
	margin-left: -45px;
}

#redes-sociais{
	color: #86858B;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	margin-left: 10px;
}
