body{
	background: #1B1A28;
}

.icone{
	height: 110px;
	width: 120px;
	position: relative;

}

.nav-link{
	color:#BE1427;
	font-family: sans-serif;
	font-weight: bold;
}

#n1:hover {
	background: black;
	color: white;
}

#n2:hover {
	background: black;
	color: white;
}

#n3:hover {
	background: black;
	color: white;
}

.bi-person-fill{
	color: #BE1427;
	margin-left: 23px;
	position: relative;

}

.form-control{
	margin-left: 5px;
}

.btn-outline-success{
	color: black;
	background: #86858B;
}

.btn-outline-success:hover {
	background: orange;
}


.bi-search{
	color:#1B1A28;

}

.bi-search:hover {
	color: white;
}

.dropdown-menu{
	display: none;
	background: #2E3140;
	width: 230px;
	height: 285px;
	border: 1px solid black;
	margin-left: 160px;

}

.form-control-1{
	background: #86858B;
	margin-top: -15px;
}

.form-group{
	color: #86858B;
	font-family: sans-serif;
	margin-left: -20px;
	margin-top: -15px;
}

.btn-primary{
	background: #BE1427;
	color: #2E3140;
	font-family: sans-serif;
	margin-left: -20px;
	margin-top: -15px;
}

.dropdown-divider{
	margin-top: -7px;

}

.dropdown-item{
	color: #86858B;
	font-family: sans-serif;
	margin-left: -20px;
	font-size: 14px;
	
}

.col-12-contatos{
	background-color: #2E3140;
	width: 800px;
	height: 400px;
	margin-top: 50px;
	
}


.text-content{
	color: #86858B;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 10px;
}

.title-content{
	color: #BE1427;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 20px;
}

#nome1{
	color: #86858B;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 68px;

}

.membro{
	width: 45%;
	height: 45%;
	margin-left: 48px;
}

#nome2{
	color: #86858B;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 68px;
}

.pagina{
	width: 22px;
	float: left;
	margin: 0px 15px 15px 0px;
	margin-left: 30px;
}

.image-right{
	height: 200px;
	position: relative;
	opacity: 0.36;


}

.text-footer{
	color: #86858B;
	font-family: sans-serif;
	text-align: left;
	font-weight: bold;
	margin-left: -55px;
}

.title-footer{
	color: #BE1427;
	font-family: sans-serif;
	text-align: left;
	font-weight: bold;
	margin-left: -45px;
}

#redes-sociais{
	color: #86858B;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	margin-left: 10px;
}
